html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Bebas Neue', cursive;
  background-color: #232323;
  color: #fafafa;
}

* {
  box-sizing: border-box;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  padding: .5rem;
  margin: 0;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.pt-4 {
  padding-top: 1rem;
}

.title {
  letter-spacing: .7ch;
  font-size: 4rem;
}

.image {
  padding: 0 1rem;
}


p {
  font-size: 1.75rem;
  letter-spacing: .3ch;
  margin: 0;
  padding: 0 .5rem;
}

time {
  font-size: 4rem;
}